</br>
</br>
</br>
<h2> Voici un récapitulatif de votre commande</h2>

<% current_user.orders.last.items.each do |items| %>
<img src="<%= items.image_url %>">
</br>
<h3><%= items.title %></h3>
</br>
<h3><%= items.price %>$</h3>
</br>
<% end %>

<%= button_to "Retour au panier", { action: "backpanier" }, form_class: "new-thing" %>

<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: <%= @price_total %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= @amount %>"
          data-locale="auto"></script>
<% end %>