<%=render "shared/navbar" %>
<section class="bg-title-page p-t-90 p-b-50 flex-col-c-m" style="background-image: url(https://www.teachyourcat.me/wp-content/uploads/2018/11/catHunt-1920x600.jpg);">
  <h2 class="l-text2 t-center">
    Shop
  </h2>
</section>
      <br/>
      <br/>
      <div class="ensemble-page">
		<div class= "row">
		  <% @array.each do |item1| %>
		  <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                  <div class="container-img">
                  <%= link_to kitty_path(item1) do %>
  	    		  	<img src="<%= item1.image_url %>" class="image" width="100%">
     			  <% end %>
     			</div>
                  <div class="card-body">
                    <h4 class="card-title">
                      <%= item1.title %>
                    </h4>
                    <%= item1.price %>€
                    <p class="card-text"><%= item1.description %></p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
  <%=render "shared/footer" %>
