

<%=render "shared/navbar" %>

<!-- Product Detail -->
	<div class="container bgwhite p-t-35 p-b-80">
		<div class="flex-w flex-sb">
			<div class="w-size13 p-t-30 respon5">
				<div class="wrap-slick3 flex-sb flex-w">
					<div class="wrap-slick3-dots"></div>

					<div class="slick3">
						<div class="item-slick3" data-thumb="images/thumb-item-01.jpg">
							<div class="wrap-pic-w">
									    <img src="<%= @item.image_url %>">

							</div>
						</div>

						
					</div>
				</div>
			</div>
			<div class="w-size14 p-t-30 respon5">
				<br/>
				<h4 class="product-detail-name m-text16 p-b-13">
						    Titre : <%= @item.title %>
l
				</h4>

				<span class="m-text17">
					<%= @item.price %> $
				</span>

				<p class="s-text8 p-t-10">
					<%=  @item.description %>
				</p>

			<% if current_user %>
		    <%= form_tag kitty_path do %>
		    <div>
		    <br>
		    <br>
			 Combien d'images voulez vous ?  <%= text_field_tag :number, '1' %>
		    </div>
		    <br>
		    <%= button_to "Ajouter au panier", { action: "new" }, form_class: "new-thing" %>
	    <% end %>
    <% end %>

						<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>


				
				
					</div>
				
				

 
	<%=render "shared/footer" %>




